@page "/profile/search"
@inject HttpClient http
@inject AppState state

<PageTitle Title="Search Profiles" />
<h3>Search Profiles</h3>

<ErrorList Errors=@ErrorMessages>
  @if (Searching)
  {
    <p>Searching profiles...</p>
  }
  else
  {
    if (!Searched)
    {
      <p>Instructions go here</p>
    }
    <section>
      <EditForm Model=@Criteria OnValidSubmit=@RetrieveProfiles>
        <div class="form-row">
          <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
            <label for="continentId" class="jjj-label">Continent</label>
            <InputSelect id="continentId" @bind-Value=@Criteria.ContinentId class="form-control form-control-sm">
              <option value="">&ndash; Any &ndash;</option>
              @foreach (var (id, name) in Continents)
              {
                <option value="@id">@name</option>
              }
            </InputSelect>
          </div>
          <div class="col col-12 col-sm-6 offset-md-2 col-lg-3 offset-lg-0">
            <label class="jjj-label">Seeking Remote Work?</label><br>
            <InputRadioGroup @bind-Value=@Criteria.RemoteWork>
              <div class="form-check form-check-inline">
                <InputRadio id="remoteNull" Value=@("") class="form-check-input" />
                <label for="remoteNull" class="form-check-label">No Selection</label>
              </div>
              <div class="form-check form-check-inline">
                <InputRadio id="remoteYes" Value=@("yes") class="form-check-input" />
                <label for="remoteYes" class="form-check-label">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <InputRadio id="remoteNo" Value=@("no") class="form-check-input" />
                <label for="remoteNo" class="form-check-label">No</label>
              </div>
            </InputRadioGroup>
          </div>
          <div class="col col-12 col-sm-6 col-lg-3">
            <label for="skillSearch" class="jjj-label">Skill</label>
            <InputText id="skillSearch" @bind-Value=@Criteria.Skill class="form-control form-control-sm"
                       placeholder="(free-form text)" />
          </div>
          <div class="col col-12 col-sm-6 col-lg-3">
            <label for="bioSearch" class="jjj-label">Bio / Experience</label>
            <InputText id="bioSearch" @bind-Value=@Criteria.BioExperience class="form-control form-control-sm"
                       placeholder="(free-form text)" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <br>
            <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
          </div>
        </div>
      </EditForm>
    </section>
    @if (SearchResults.Any())
    {
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Profile</th>
            <th scope="col">Name</th>
            <th scope="col" class="text-center">Seeking?</th>
            <th scope="col" class="text-center">Remote?</th>
            <th scope="col" class="text-center">Full-Time?</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var profile in SearchResults)
          {
            <tr>
              <td><a href="/profile/view/@profile.CitizenId">View</a></td>
              <td class=@IsSeeking(profile)>@profile.DisplayName</td>
              <td class="text-center">@YesOrNo(profile.SeekingEmployment)</td>
              <td class="text-center">@YesOrNo(profile.RemoteWork)</td>
              <td class="text-center">@YesOrNo(profile.FullTime)</td>
              <td><FullDate TheDate=@profile.LastUpdated /></td>
            </tr>
          }
        </tbody>
      </table>
    }
  }
</ErrorList>
