<div class="form-row">
  <div class="col col-xs-2 col-sm-2 col-md-1">
    <br>
    <button type="button" class="btn btn-outline-danger" title="Delete" @onclick="@RemoveMe">&minus;</button>
  </div>
  <div class="col col-xs-10 col-sm-10 col-md-6">
    <div class="form-group">
      <label for="skillDesc@(Skill.Id)">Skill</label>
      <input type="text" id="skillDesc@(Skill.Id)" @bind="@Skill.Description" class="form-control" maxlength="100"
             placeholder="A skill (language, design technique, process, etc.)">
      <ValidationMessage For="@(() => Skill.Description)" />
    </div>
  </div>
  <div class="col col-xs-12 col-sm-12 col-md-5">
    <div class="form-group">
      <label for="skillNotes@(Skill.Id)">Notes</label>
      <input type="text" id="skillNotes@(Skill.Id)" @bind="@Skill.Notes" class="form-control" maxlength="100"
             placeholder="A further description of the skill (100 characters max)">
      <ValidationMessage For="@(() => Skill.Notes)" />
    </div>
  </div>
</div>
